 {% extends 'base.html' %}
 {% load wagtailcore_tags %}
 {% block extra_css %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css" crossorigin="anonymous">
 {% endblock %}
 {% block content %}
<div class="content content_top_margin_none" style="min-height: 208px;">
    <div class="content_inner">
        <div class="full_width">
            <div class="full_width_inner">
                <div data-elementor-type="wp-page" data-elementor-id="54" class="elementor elementor-54" data-elementor-settings="[]">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-b12e47e elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="b12e47e" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c0a8e47" data-id="c0a8e47" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-b0042a9 elementor-widget elementor-widget-image" data-id="b0042a9" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1100" height="894" src="{{self.pic1.url}}" class="attachment-full size-full" alt="a"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-75d4527" data-id="75d4527" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-6953dc5 elementor-widget elementor-widget-image" data-id="6953dc5" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1100" height="894" src="{{self.pic2.url}}" > </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-e4b6d2e elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="e4b6d2e" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4460de4" data-id="4460de4" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-ba65d0c elementor-widget-tablet__width-initial elementor-widget elementor-widget-text-editor" data-id="ba65d0c" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <h2>{{page.title}}</h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-a35436f elementor-widget elementor-widget-spacer" data-id="a35436f" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-e4fff65 elementor-widget-tablet__width-initial elementor-widget elementor-widget-text-editor" data-id="e4fff65" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p>{{page.intro|richtext }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-e623792 elementor-widget elementor-widget-spacer" data-id="e623792" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-e77c8a4 elementor-widget elementor-widget-icon_list_item" data-id="e77c8a4" data-element_type="widget" data-widget_type="icon_list_item.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="q_icon_list"><a href="{{self.google_address}}" target="_blank"><span class="q_font_elegant_icon icon_pin normal_icon_list  circle" aria-hidden="true" style="color:#000000;border-color: #FFFFFF;"></span><p class="normal_icon_list " style="font-size: 14px;">{{self.address}}</p></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-487a76a elementor-widget elementor-widget-icon_list_item" data-id="487a76a" data-element_type="widget" data-widget_type="icon_list_item.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="q_icon_list"><a href="tel:{{self.phone}}" target="_blank"><span class="q_font_elegant_icon icon_phone normal_icon_list  circle" aria-hidden="true" style="color:#000000;border-color: #FFFFFF;"></span><p class="normal_icon_list " style="font-size: 14px;">{{self.phone}}</p></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-7f8e2a1 elementor-widget elementor-widget-icon_list_item" data-id="7f8e2a1" data-element_type="widget" data-widget_type="icon_list_item.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="q_icon_list"><a href="mailto:{{self.to_email}}" target="_blank"><span class="q_font_elegant_icon icon_mail normal_icon_list  circle" aria-hidden="true" style="color:#000000;border-color: #FFFFFF;"></span><p class="normal_icon_list " style="font-size: 14px;">{{self.to_email}}</p></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-d7e3edd elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="d7e3edd" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c6c7a2d" data-id="c6c7a2d" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-3dab1a5 elementor-widget elementor-widget-qode_google_map" data-id="3dab1a5" data-element_type="widget" data-widget_type="qode_google_map.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="qode-google-map-holder">
{{self.google_address}}
{{self.google_map}}
                                                                <div class="qode-google-map" id="qode-map-1812902" data-addresses="[&quot;{{self.address}}&quot;]" data-custom-map-style="no" data-color-overlay="#393939" data-saturation="-100" data-lightness="-60" data-zoom="12" data-pin="https://stockholm88.qodeinteractive.com/wp-content/uploads/2020/09/pin-img.png"
                                                                    data-unique-id="1812902" data-scroll-wheel="no" data-height="442px" data-snazzy-map-style="yes" style="height: 442px; position: relative; overflow: hidden;">

                                                                    <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
                                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10150.83115619071!2d30.612107309445786!3d50.50239604184029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5102781b5b%3A0x2e8a97651abe9fc5!2sFILM.UA%20Group!5e0!3m2!1sen!2sse!4v1661105246535!5m2!1sen!2sse"
                                                                            width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %} {% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% endblock extra_js %}