{% extends "base.html" %}
{% load static wagtailimages_tags %}
{% block body_class %} home page-template page-template-full_width page-template-full_width-php page page-id-126 stockholm-core-1.2.2 qi-addons-for-elementor-1.0 select-theme-ver-5.3 side_area_over_content
smooth_scroll qode_grid_1300 qode_footer_adv_responsiveness qode_footer_adv_responsiveness_768 qode_footer_adv_responsiveness_one_column qode_menu_center elementor-default elementor-kit-7 elementor-page elementor-page-126
{% endblock body_class %} {% block extra_css %}

<link rel="stylesheet" href="{% static 'css/home_page.css' %}"> {% endblock extra_css %} {% block content %}

<div class="content content_top_margin_none">
    <div class="content_inner">
        <div class="full_width">
            <div class="full_width_inner">
                <div data-elementor-type="wp-page" data-elementor-id="10" class="elementor elementor-10" data-elementor-settings="[]">
                    <div class="elementor-inner">
                        <div class="elementor-section-wrap">
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-f135a32 elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="f135a32" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5a6f7ef" data-id="5a6f7ef" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-050270d elementor-widget elementor-widget-image" data-id="050270d" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1300" height="509" src="{{page.pic1.url}}" class="attachment-full size-full" alt="a" srcset="{{page.pic1.url}} 1300w, {{page.pic1.url}} 300w, {{page.pic1.url}} 1024w, {{page.pic1.url}} 768w, {{page.pic1.url}} 700w, {{page.pic1.url}} 1100w"
                                                                    sizes="(max-width: 1300px) 100vw, 1300px" /> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-0e0d245 elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="0e0d245" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cb82a5a" data-id="cb82a5a" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-858d49d elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="858d49d" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <h2 style="text-align: center;">{{page.caption}}</h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-54c6794 elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="54c6794" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b1222a3" data-id="b1222a3" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-69b0851 elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="69b0851" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <p style="text-align: center;">{{page.text_about}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-a8147d0 elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="a8147d0" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3e92dd1" data-id="3e92dd1" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-4c36d5f elementor-widget elementor-widget-image" data-id="4c36d5f" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1100" height="1182" src="{{page.pic2.url}}" class="attachment-full size-full" alt="a" srcset="{{page.pic2.url}} 1100w, {{page.pic2.url}} 279w, {{page.pic2.url}} 953w, {{page.pic2.url}} 768w, {{page.pic2.url}} 700w"
                                                                    sizes="(max-width: 1100px) 100vw, 1100px" /> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0411972" data-id="0411972" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-dbead07 elementor-widget elementor-widget-image" data-id="dbead07" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1100" height="1182" src="{{page.pic3.url}}" class="attachment-full size-full" alt="a" srcset="{{page.pic3.url}} 1100w, {{page.pic3.url}} 279w, {{page.pic3.url}} 953w, {{page.pic3.url}} 768w, {{page.pic3.url}} 700w"
                                                                    sizes="(max-width: 1100px) 100vw, 1100px" /> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b0b7011" data-id="b0b7011" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-0ba4843 elementor-widget elementor-widget-image" data-id="0ba4843" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1100" height="1182" src="{{page.pic4.url}}" class="attachment-full size-full" alt="" srcset="{{page.pic4.url}} 1100w, {{page.pic4.url}} 279w, {{page.pic4.url}} 953w, {{page.pic4.url}} 768w, {{page.pic4.url}} 700w"
                                                                    sizes="(max-width: 1100px) 100vw, 1100px" /> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-cc532dd elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="cc532dd" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b8d039e" data-id="b8d039e" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-281c416 elementor-widget elementor-widget-text-editor" data-id="281c416" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <h3 style="text-align: center;">press</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-element elementor-element-e1136a5 elementor-widget elementor-widget-spacer" data-id="e1136a5" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    {% for link in self.press_links.all %}
                                                    <div class="elementor-element elementor-element-f507d6a elementor-widget elementor-widget-text-editor" data-id="f507d6a" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix"><a href="{{link.url}}">{{link.name}}</a></div>
                                                        </div>
                                                    </div>
                                                    {%endfor%}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-8cb881f" data-id="8cb881f" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-85ef45f elementor-widget elementor-widget-text-editor" data-id="85ef45f" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <h3 style="text-align: center;">awards</h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="elementor-element elementor-element-42d3bf1 elementor-widget elementor-widget-spacer" data-id="42d3bf1" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% for link in self.award_links.all %}
                                                    <div class="elementor-element elementor-element-af4e951 elementor-widget elementor-widget-text-editor" data-id="af4e951" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix"><a href="{{link.url}}">{{link.name}}</a></div>
                                                        </div>
                                                    </div>
                                                    {%endfor%}

                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1663ba4" data-id="1663ba4" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-5dbef4f elementor-widget elementor-widget-text-editor" data-id="5dbef4f" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                <h3 style="text-align: center;">colaborators</h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="elementor-element elementor-element-fe897d6 elementor-widget elementor-widget-spacer" data-id="fe897d6" data-element_type="widget" data-widget_type="spacer.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-spacer">
                                                                <div class="elementor-spacer-inner"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% for link in self.collaborator_links.all %}
                                                    <div class="elementor-element elementor-element-8f88046 elementor-widget elementor-widget-text-editor" data-id="8f88046" data-element_type="widget" data-widget_type="text-editor.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-text-editor elementor-clearfix"><a href="{{link.url}}">{{link.name}}</a></div>
                                                        </div>
                                                    </div>
                                                    {%endfor%}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="elementor-section elementor-top-section elementor-element elementor-element-5d3fb1f elementor-section-full_width qode_elementor_container_inner elementor-section-height-default elementor-section-height-default parallax_section_no qode-content-aligment-left"
                                data-id="5d3fb1f" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                    <div class="elementor-row">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d15dc5e" data-id="d15dc5e" data-element_type="column">
                                            <div class="elementor-column-wrap elementor-element-populated">
                                                <div class="elementor-widget-wrap">
                                                    <div class="elementor-element elementor-element-b1b0147 elementor-widget elementor-widget-image" data-id="b1b0147" data-element_type="widget" data-widget_type="image.default">
                                                        <div class="elementor-widget-container">
                                                            <div class="elementor-image">
                                                                <img width="1300" height="385" src="{{page.pic5.url}}" class="attachment-full size-full" alt="" srcset="{{page.pic5.url}} 1300w, {{page.pic5.url}} 300w, {{page.pic5.url}} 1024w, {{page.pic5.url}} 768w, {{page.pic5.url}} 700w, {{page.pic5.url}} 1100w"
                                                                    sizes="(max-width: 1300px) 100vw, 1300px" /> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}