{% load static i18n wagtailcore_tags wagtailuserbar menus_tags %}{% get_menu "main" as navigation %}{% get_footer "footer" as footer_ %}{# https://docs.wagtail.org/en/v2.12/advanced_topics/i18n.html#wagtail-s-approach-to-multi-lingual-content #}{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-touchevents" data-lt-installed="true">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
        {% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}{% endblock %}{% block title_suffix %}{% wagtail_site as current_site %}{% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}{% endblock %}
    </title>
    <meta name="description" content="design portfolio" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />
    <link rel="apple-touch-icon" href="/static/img/favicon.png" />
    {# Global stylesheets #}{% include 'css.html' %}
    {% block extra_css %} {# Override this in templates to add extra stylesheets #} {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <div class="wrapper">
        <div class="wrapper_inner">

        {% block header %}

        <header class="page_header scrolled_not_transparent regular">
          <div class="header_inner clearfix">
            <div class="header_top_bottom_holder">
              <div class="header_bottom clearfix">
                <div class="container">
                  <div class="container_inner clearfix">
                    <div class="header_inner_left">
                      <div class="mobile_menu_button">
                        <span><i class="fa fa-bars"> </i></span>
                      </div>

                      <div class="logo_wrapper">
                        <div class="q_logo">
                          <a href="/">
                            <img
                              class="normal"
                              src="{% static 'img/logo-img.png' %}"
                              alt="Logo"
                            />
                          </a>
        </div>
    </div>
    </div>
    <div class="header_inner_right">
        <div class="side_menu_button_wrapper right">
            <div class="side_menu_button"></div>
        </div>
    </div>
{% include 'nav.html' %}

    </div>
    </div>
    </div>
    </div>
    </div>
    </header>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}{% include 'footer.html' %}{% endblock footer %}
    </div>
    </div>

    {# Global javascript #}
    {% include 'js.html' %}
    {% block extra_js %} {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>